	body {
			background-image: url(../img/背景1.png);
			background-position: center center;
			background-size: cover;
			background-attachment: fixed;
			background-color: rgb(255, 255, 255, 0.7)
		}
		
		.headera1 {
			background-color: #F5F5F5;
			margin: 0px;
			padding: 0;
			display: flex;
			justify-content: center;
		}
		
		.headera2 {
			height: 50px;
			background-color: rgb(95, 158, 160, 0.8);
			display: flex;
			justify-content: center;
			margin-bottom: 8px;
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 999;
		}
		
		.headera21 {
			height: 45px;
			z-index: 999;
		}
		
		.header2 {
			height: 46px;
			width: 1200px;
			
		}
		
		.header21 {
			height: 49px;
			width: 1200px;
			text-align: center;
		}
		
		.header {
			width: 1200px;
			height: 470px;
			display: flex;
			justify-content: center;
			align-content: center;
			box-shadow: 10px 10px 5px #6666;
		}
		
		.headera {
			width: 1200px;
			height: 470px;
			display: flex;
			margin: 0 auto;
			justify-content: center;
			align-content: center;
		}
		
		.middle2 {
			width: 1200px;
			height: 3000px;
			background: rgba(95, 158, 160, 0.3);
			margin: 10px auto;
			/*前面的是上下,后是左右*/
			display: flex;
			align-items: center;
			justify-content: center;
		}
		
		.bottom {
			height: 200px;
			width: 1200px;
			
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 140px;
		}
		
		
		.middle {
			width: 1200px;
			height: 150px;
			margin: 0 auto;
			opacity: 1;
			/*前面的是上下,后是左右*/
		}
		
		.middle1 {
			height: 290px;
			width: 1600px;
			margin: 10px auto;
			/*前面的是上下,后是左右*/
		}
		
		* {
			margin: 0;
			padding: 0;
		}
		
		ul {
			width: 1200px;
			height: 30px;
			list-style-type: none;
			padding: 5px;
			margin: 0;
		}
		
		li {
			float: left;
			border-radius: 25px;
		}
		
		li:last-child {
			border-right: none;
		}
		
		li a {
			display: block;
			color: white;
			text-align: center;
			padding: 6px 16px;
			text-decoration: none;
		}
		
		li a:hover {
			background-color: #008B8B;
		}
		
		* {
			margin: 0;
			padding: 0;
		}
		
		h2 {
			color: #5F9EA0;
			font-size: 100px;
		}
		
		h2 a {
			text-decoration: none;
			color: aliceblue;
		}
		
		h2 span {
			transition: 0.5s;
		}
		
		h2:hover span:nth-child(1) {
			margin-right: 10px;
		}
		
		h2:hover span:nth-child(2) {
			margin-left: 30px;
		}
		
		h2 span:nth-child(1)::after {
			opacity: 0;
			transition: 2s;
		}
		
		h2:hover span:nth-child(1)::after {
			content: "#国潮#";
			opacity: 1;
		}
		
		h2:hover span {
			color: white;
			text-shadow: 0 0 10px #008B8B, 0 0 20px #F0F8FF, 0 0 40px #F0F8FF, 0 0 80px #F0F8FF;
		}
		
		.headera3 {
			height: 240px;
			width: 1200px;
			padding: 0;
			border: 0;
			margin-bottom: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		
		
		.middle11{
        height: 100vh;
        overflow-x: hidden;
        perspective: 3px;
        background: rgba(95, 158, 160, 0.3);
    }
    .middle11 div{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: 30px;
        letter-spacing: 2px;
    }
    .image{
        transform: translateZ(-1px) scale(1.6);
        background-size: cover;
        height: 100vh;
        z-index: -1;
    }
    .text{
        height: 50vh;
        background-color: #fff;
    }
    .text h1{
        color: #5F9EA0;
		font-size: 90px;
		font-family: "楷体";
    }
    .heading{
        z-index: 1;
        transform: translateY(-40vh) translateZ(1px);
        color: #fff;
       font-size: 45px;
		font-family: "楷体";
	}
		
		